Package: com.mtac.lynxtwo.localizations
Name: Lynx 2 Localizations
Version: 2.5
Architecture: iphoneos-arm
Description: Localization support for Lynx 2
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Depends: com.mtac.lynxtwo
Icon: https://mtac.app/repo/assets/com.mtac.lynxtwo.localizations/icon-rounded.png
SileoDepiction: https://mtac.app/repo/depiction/native/com.mtac.lynxtwo.localizations.json

